.modal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    overflow-y: scroll;
    background-color: black;
}

span:hover { 
    cursor: pointer;
}

form {
    width: 80%;
}

.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(57, 67, 72, 0.3);
}

.someClass { 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: none;
}

.main-modal-content {
    position: relative;
    width: 80%;
    top: 10%;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 8px 6px 10px -5px #888888;
    border-radius: 5px;
    animation-name: animatetop;
    animation-duration: 0.6s
}

  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:10%; opacity:1}
  }