<!-- <div class="container">
  <h2>Modal Example</h2>
  
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div> -->

<div class="modal" *ngIf="visible" tabindex="-1">
  <div class="modal-overlay" (click)="closable && close()" tabindex="-1"></div>

  <div class="modal-container text-left" tabindex="-1">
      <h2 class="modal-header-title mb-3 pt-4 pl-4" *ngIf="modalTitle">{{ modalTitle }}</h2>

      <header class="modal-header" *ngIf="modalTitle || closable" tabindex="-1">
          <div
              class="modal-header-close-btn tt_icon tt_icon-x pt-4 pr-2"
              *ngIf="closable"
              (click)="close()"
              aria-label="Close"
              tabindex="-1"
          ></div>
      </header>

      <main class="modal-content px-4 pb-4">
          <ng-content></ng-content>
      </main>
  </div>
</div>