<div class="card loginPage">
  <div class="d-flex justify-content-center">
    <div class="loginPageImage m-3">
      <img src="assets/leafs.jpg" alt="" class="src">
    </div>
    <div class="loginFromDiv m-3">
      <h3>Log into your account</h3>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="d-flex m-2">
          <label class="form-check-label m-2" for="exampleCheck1"><a href="#">forgot password ?</a></label>
          <label class="form-check-label m-2" for="exampleCheck1"><a routerLink="/signup">Register here</a></label>
        </div>
        <button type="submit" class="btn btn-primary" (click)="onLogin()" routerLink="/dashboard">{{ logText }}</button>
    </form>
    </div>
  </div>

</div>
