<div class="card loginPage">
    <div class="d-flex justify-content-center">
      <div class="loginPageImage m-3">
        <img src="assets/leafs.jpg" alt="" class="src">
      </div>
      <div class="loginFromDiv m-3">
        <h3>Sign up for new account</h3>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Last name" class="form-control">
          </div>
          <div class="form-group">
            <!-- <label for="exampleInputEmail1">Email address</label> -->
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <!-- <label for="exampleInputPassword1">Password</label> -->
            <input type="password" class="form-control" id="exampleInputSamePassword" placeholder="Password">
          </div>
          <div class="form-group">
            <!-- <label for="exampleInputPassword1">Password</label> -->
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Re-enter password">
          </div>
          <div class="d-flex flex-column">
            <caption>you agree to our tems and conditions</caption>
            <button type="submit" class="btn btn-primary" routerLink="/product">Signup</button>
          </div>
      </form>
      </div>
    </div>
  
  </div>
  